.map-container {
  flex: 1;
  display: flex;
}

.map-element {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.hostel-map__controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hostel-map__slider-control {
  position: relative;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.hostel-map__slider-label {
  position: absolute;
  top: -10px;
  right: 23px;
}

.hostel-map__controls > * {
  flex: 1;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {

  .hostel-map__controls {
    flex-direction: row;
  }

  .hostel-map__controls > * {
    max-width: 47%;
  }

  .hostel-map__slider-control {
    margin-top: 0;
  }

}
