#view {
    display: flex;
    flex-direction: column;
    flex: 1 1 80%;
    margin-left: 10px;
    overflow: auto;
}

.view-header {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.view-header-name {
    display: inline;
}

.view-header-imagebox {
    display: flex;
    margin-bottom: 5px;
    height: 150px;
}

.image {
    display: inline-block;
    position: relative;
    height: 100%;
}

.image img {
    height: 100%;
}

.add-image-button-wrapper {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.add-image-button {
    align-items: center;
    cursor: pointer;
}

.add-image-button span {
    font-size: 2em;
}

.image-delete-button {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    opacity: 0.85;
    cursor: pointer;
}

.image-delete-button:hover {
    opacity: 1;
}
.view-sides-wrapper {
    display: flex;
    flex: 1 1 auto;
}

.view-side {
    padding: 5px;
    max-width: 50%;
    flex: 1 1 auto;
}

.view-left-side {
    border-right: 1px solid lightgray;
}
.view-right-side {
    margin-left: 10px;
}
.view-left-side ul {
    list-style: none;
    padding-left: 0;
}

.view-section {
    margin: 10px 0px;
}

.view-section-heading h3 {
    display: inline-block;
}

#trail-view {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.map-wrapper {
    position: relative;
    height: 400px;
    padding: 10px;
    overflow: hidden;
}

#hostelMap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.edit-button {
	display: inline-block;
	cursor: pointer;
	width: 32px;
	height: 32px;
}

.add-button {
    cursor: pointer;
}