.sidebarlist {
    flex: 1 1 auto;
    height: 50%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid silver;
}

.sidebarlist__header {
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-color: gray;
    border-width: 1px 0px;
    padding: 5px;
    justify-content: space-between;
}
.sidebarlist__input {
    /* width: 70% !important; */
    flex: 1 1 auto;
    max-width: 70%;
}


.sidebarlist__content {
    flex: 1 1 auto;
    overflow-y: auto;
}

.sidebarlist__content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebarlist__content li:hover {
    background-color: #eee;
    cursor: pointer;
}