.trail-info {
    display: flex;
    flex-direction: column;
}
.map-wrapper {
    position: relative;
    height: 400px;
    padding: 10px;
    overflow: hidden;
}

#hostelMap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}