.hostel-search__list {
  overflow-y: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  box-shadow: 2px 2px 6px 0px #ccc;
  border-radius: 5px;
  margin-bottom: 0;
  padding: 0;
}

.list-entry {
    width: 300px;
    margin: 10px;
}

.list-entry:hover {
    background-color: #f5f5f5;
    transition: all 0.3s ease;
}

.list-entry__img {
    max-height: 200px;
}

.list-entry__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.list-entry__link {
}

.list-entry__link:hover {
}

@media screen and (min-width: 780px) {

    .hostel-search__list {
    padding: 10px;
    }
    .list-entry__img {
        /* height: 200px; */
    }
}