.hostelsection {
}

.hostelsection__heading {
    border-bottom: 1px solid #902881;
    margin: 10px 0;
}

.hostelsection__content {
    padding-left: 5%;
}

.hostelsection--contacts {
    border: 1px solid gray;
    background-color: #eee;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.hostelsection--contacts .hostelsection__heading {
    border-bottom: none;
}

.hostelsection--contacts ul {
    list-style-type: none;
}

.hostelsection--price > div {
    font-size: 2em; 
    color: green;
    padding-left: 20px;
}

.hostel__checkmarklist,
.hostel__bulletlist,
.hostel__infolist {
    list-style-type: none;
    padding-left: 20px;
}
.hostel__checkmarklist li:before {
    content:"✔\0020";
}
.hostel__bulletlist li:before {
    content:"•\0020";
}
.hostel__infolist li:before {
    content:"ⓘ\0020";
}

@media screen and (min-width: 768px) {

    .hostelsection--price,
    .hostelsection--contacts {
        width: 45%;
    }

    .hostelsection--contacts {
        margin-top: 25px;
        border-right: none;
    }

   .hostelsection--price {
        margin-top: 50px;
    }


}