.imagebox {
    overflow: auto;
    white-space: nowrap;
}
.imagebox img {
    max-width: 50%;
    max-height: 250px;
    cursor: pointer;
}
.imagebox > img:hover {
    outline: 2px solid silver;
    opacity: .7;
}