.lightbox {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.5);
}

.lightbox__content {
    position: relative;
    top: 12.5%;
    left: 12.5%;
    width: 75%;
    height: 75%;
    display: flex;
    justify-content: center;
}

.lightbox__content > * {
    max-height: 100%;
    max-width: 100%;
}

.lightbox__close {
    position: absolute;
    top: 12.5%;
    left: 85%;
    cursor: pointer;
}