.menu {
  display: flex;
  flex-direction: column;
  background-color: #373737;
  color: #ddd;
}

.logo,
.logo:hover {
  color: #b541a4;
  text-decoration: none;
  margin: 0 0 10px 20px;
}

.logo > * {
  display: inline-block;
}

.logo__image {
  width: 70px;
  height: auto;
  vertical-align: top;
}

.logo__text {
  vertical-align: bottom;
  margin-left: 10px;
  padding: 10px;
/* add the width of the menu button to this element so the line breaks when the logo text and the absolute positioned menu button would touch*/
  padding-right: 58px; 
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo__main {
  font-size: 1.3em;
}

.logo__sub {
  font-size: 1em;
  margin-left: .5em;
  font-style: italic;
}

.toggle-button {
  display: inline;
  padding: 8px;
  cursor: pointer;
}

.toggle-button > svg {
  transition: all 0.3s ease;
}

.menu__toggle {
  position: absolute;
  font-size: 48px;
  top: 15px;
  right: 10px;
}

.menu-links {
    justify-content: flex-end;
    max-height: 0;
    overflow: hidden;
}
.menu-links--open {
  max-height: 500px;
}


@media screen and (min-width: 64em) {

.logo__main {
  font-size: 2em;
}

.logo__sub {
  font-size: 1.5em;
}
    .menu-links {
        max-height: unset;
    }

  .menu {
    flex-direction: row;
  }

  .menu__toggle {
    display: none;
  }
}

@media screen and (min-width: 380px) {

  .logo__image {
    width: unset;
    vertical-align: top;
  }
}

