.nav {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: inherit;
  list-style-type: none;
  /* overflow: hidden; */
  white-space: nowrap;
}

.nav--inline {
    display: inline-flex;
}

.nav--header {
}

.nav__link {
  cursor: pointer;
  display: block;
  color: inherit;
  transition: background-color .3s;
  text-decoration: none;
  padding: 5px;
}

.nav--header .nav__link {
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px;
}

.nav__link:hover {
  text-decoration: underline;
  color: unset;
}

.nav--header .nav__link:hover {
  background-color: #474747;
  text-decoration: none;
}

@media screen and (min-width: 64em) {

    .nav--header {
        flex-direction: row;
        max-height: unset;
    }

    .nav--header .nav__link {
        align-self: flex-end;
        font-size: 1em;
    }
}