.slider {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  margin: 0;
  padding: 0 5px;
  height: 33px;
}

.slider > input {
    flex: 1;
}

.slider span {
  margin-left: 10px;
}

.slider__input {
  cursor: pointer;
  margin: 0;
} 

.slider__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #941981;
  cursor: pointer;
}

.slider__input::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #941981;
  cursor: pointer;
}