.toggleslider__display {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 6px 15px;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}

.toggleslider__display > span:nth-child(1) {
  margin-right: 5px;
}

.toggleslider__display > span:nth-child(2) {
  margin-right: 10px;
}

.toggleslider__display.toggled {
  background-color: #f2f2f2;
} 

.toggleslider__slider {
  top: 40px;
  left: -10px;
  right: -10px;
  z-index: 2;
  position: absolute;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: white;
}