html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inline-navigation-link {
    color: silver;
    text-decoration: none;
    cursor: pointer;
}
.inline-navigation-link:hover {
    text-decoration: underline;
}

.button {
  padding: 0.5em 2em;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.button--action{
  background-color: #0066ff;
  color: white;
  transition: background-color 0.1s linear;
}

.button--action:hover {
  background-color: #0052cc;
}

.button-small {
  font-size: 0.8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 16px 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.content--padding {
  padding: 16px;
}

.content--center {
    align-items: center;
}


@media screen and (min-width: 900px) {
    .content--lg-margin {
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media screen and (min-width: 1600px) {
    .content--index {
        margin-left: 20%;
        margin-right: 20%;
    }
}