.link-box {
  background-color: #373737;
  color: white;
  opacity: 0.7;
  padding: 1rem;
  display: inline-block;
  max-width: 50%;
   box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.35);
   margin: 30px 10px;
}


.link-box__link-item {
  margin-bottom: 0.5rem;
}

.link-box__link {
  color: white;
}
