.adminpage  {
    /* display: inline; */
    display: flex;
    width: 100vw;
    height: 100vh;
}
.adminpage__sidebar {
    flex: 0 1 20%;
    /* width: 20%;
    float: left;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    border-right: 1px solid gray; */
}
