.hostel {
    padding-left: 1em;
}

.hostel__subtitle {
    margin-bottom: 10px;
}

.hostel__buttons {
    display: block;
    vertical-align: bottom;    
    margin-top: 15px;
    margin-bottom: 5px;
}

.hostel__address {
    display: inline;
}

.hostel__images {
    margin-left: -16px;
    padding: 0 15px;
    background-color: #373737;
}

.hostel__sections {
    padding: 16px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.hostel__sections > * {
    flex: 1 100%;
}

.hostel__contact-information > a {
    margin-left: 1em;
    width: 30%;
}
.hostel__contact-information > a:first-child {
    margin-left: 0;
}
.hostel__contact-information > a > svg {
    margin-right: .2em;
}

.phone-link {
    color: #b541a4;
    text-decoration: underline;
}

@media screen and (min-width: 768px) {

    .hostel__buttons {
        display: inline-block;
        margin: 0 0 0 50px;
    }

    .hostel__sections > * {
        flex: 1 47%;
        margin-left: 10px;
        margin-right: 10px;
        order: 3;
    }

    .hostel__facilities {
        order: 1;
    }

    .hostel__contacts {
        order: 2;
    }

    .hostel__price {
        order: 4;
    }
}