.searchpage {
  display: flex;
  flex-direction: column;
}

.searchpage__container {
  min-height: 75vh;
  max-height: 85vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.searchpage__container:nth-child(2) {
  margin-top: 45px;
}

.searchpage__containerheading {
  margin-left: -5px;
  margin-right: -15px;
  border-bottom: 1px solid #373737;
  color: #373737;
  padding-right: 20%;
}


/* or 1280px? */
@media screen and (min-width: 1366px) {
  .searchpage {
    flex-direction: row;
  }

  .searchpage__container {
    border-bottom: 0;
    padding: 0 16px 16px 16px;
  }

  .searchpage__container--list {
    min-height: 75vh;
  }

  .searchpage__container--map {
    order: 2;  
  }

  .searchpage__container:nth-child(2) {
    margin-top: 0;
  }
}