.index-cards {
    padding: 0 !important;
}
    
@media screen and (min-width: 1000px) {
    .index-cards {
        display: flex;
        flex-flow: row wrap !important;
        justify-content: space-around;
        margin: 15px;
    }

    .index-cards .card {
        width: 24%;
    }
}